*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 1.3rem;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;

    height: 100vh;
}

.imagen{
    border-radius: 7px;
    box-shadow: 5px 5px 0 0 rgb(69, 69, 69);
}

.img-2{
    margin: 10px;
    height: 200px;
    width: 300px;
}

h1 {
color: navy;
margin-left: 20px;
}